
*{
    box-sizing: border-box;
}

#headerRow{

    height: 7vh;
    margin-right: 0px !important;
}
.row{

    margin-left: 0px !important;
    margin-right: 0px !important;
}

.panelName{
    background-color: white;
}

.table{
    margin-bottom: 0rem !important;
}

ul > li{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
