.addArticleButtons, .addUserLink, .addUserButton, .addCategoryButtonLink, .addCategoryButton, .editArticleButton, .editUser, #editCategoryButton {

    background-color: mediumseagreen;
    opacity: 1;
    transition: 0.3s;
    border-color: #38c172;

}

.backButton, .backAddUserButtonLink, .backCategoryLinkButton, .backEditArticleButton, .editBackButton {

    background-color: #4aa0e6;
    opacity: 1;
    transition: 0.3s;

}



/* recommend order for button states : visited,focus,hover,active  */
.addArticleButtons:focus, .addUserLink:focus, .showArticle:focus, .addUserButton:focus, .addCategoryButtonLink:focus, .addCategoryButton:focus
, .editArticleButton:focus, .editUser:focus, #editCategoryButton:focus {


    box-shadow: 0 0 0 0.2rem #38c172 !important;

}

.backButton:focus, .backAddUserButtonLink:focus, .backCategoryLinkButton:focus, .backEditArticleButton:focus, .editBackButton:focus  {

    background-color: #1e82e6 !important;
    opacity: 1;

}

.addArticleButtons:hover, .addUserLink:hover, .addUserButton:hover, .addCategoryButtonLink:hover, .addCategoryButton:hover, .editArticleButton:hover
, .editUser:hover, #editCategoryButton:hover{

    background-color: #2B8050 !important;
    opacity: 1;

}

.backButton:hover, .backAddUserButtonLink:hover, .backCategoryLinkButton:hover, .backEditArticleButton:hover, .editBackButton:hover  {
    background-color: #083fe6 !important;
    border-color: #083fe6 !important;
}

.addArticleButtons:active, .addUserLink:active, .addUserButton:active, .addCategoryButtonLink:active, .addCategoryButton:active
, .editArticleButton:active, .editUser:active, #editCategoryButton:active {

    background-color: mediumseagreen !important;
    border-color: mediumseagreen !important;
}

.backButton:active, .backAddUserButtonLink:active, .backCategoryLinkButton:active, .backEditArticleButton:active, .editBackButton:active   {

    background-color: cornflowerblue !important;
    border-color: cornflowerblue !important;
}

.barLogin.navbar-nav {
    float: right;
}

.permissionInput{
    display: block;
    margin-left: auto;
    margin-right: auto;
}







