.grid-container {
    display: grid;
    grid-column-gap: 5%;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
}

.grid-container div {
    height: 15vh;
}
.grid-container p {

    color: grey !important;
}
.grid-container > div {
    color: white;
    font-size: 4vh;
    font-family: Poppins;
}


.grid-container .dropdown-menu {
    width: 18.4%;
}

.grid-container .dropdown-menu > li {
    padding-left: 2%;
    cursor: default;
    padding-top: 0.5% !important;
    padding-bottom: 0.5% !important;
    width: 100%;
}

.grid-container .dropdown-menu > li:hover {
    background-color: #F8F8FF;
}

.btn-secondary.dropdown-toggle:focus {

    box-shadow: none !important;
}

ul#articleByCategoryList {
    left: 0;
    position: relative;
    width: 100%;
    margin-top: -11%;
}

.select2-selection_placeholder {
    color: red;
}

.bottomBorderGradient {
    margin-top: 5%;
    width: inherit;
    height: 0.2vh !important;
    background-image: linear-gradient(to right, rgb(248, 248, 248), rgb(211, 211, 211), rgb(248, 248, 248));

}

.homeStatsHub {

    border-radius: 10%;
    left: 1.5vw;
    width: 5.5vw;
    position: relative;
    top: -3vh;
    height: 10.5vh !important;

}

.homeStatsHub  i {

    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;

}

.hubContainer {
    margin-top: 1%;
    justify-content: flex-end;
    width: 20%;
    position: absolute;
    font-size: 1vw;
    display: flex;
    font-family: Poppins;
}

.hubContainer p {

    margin-right: 8%;
}

i#iconStat {

    margin-top: 1.3vh;
    transform: scale(0.6);
    position: absolute;
    color: lightgray;
}

.grid-container > div > p {

    font-size: 0.6vw;
    margin-top: 2.7vh;
    margin-left: 3vw;
    position: absolute;
}

